html,
body {
  padding: 0;
  margin: 0; // 此处 body 作为全屏滚动的父级容器
  overflow: hidden;
  height: 100%;
}

/*   full page 样式 */
#full-page {
  position: relative;
  top: 0;
  transition: all 1000ms ease;
  touch-action: none;
  .section {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .nav {
    position: fixed;
    top: 50%;
    right: 15px;
    width: 18px;
    transform: translateY(-50%);
    p {
      width: 18px;
      height: 20px;
      padding: 14px 0;
      margin: 0 auto;
      cursor: pointer;
      span {
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        margin: 0 auto;
        background-color: #dfe4ea;
        border-radius: 50%;
        transition: all 150ms ease-in-out;
      }
      &:hover span {
        width: 8px;
        height: 8px;
        background-color: #f1f2f6;
      }
      &.active span {
        width: 10px;
        height: 10px;
        background-color: #f1f2f6;
      }
    }
  }
}
